.location-services {
    position: relative;
    overflow: hidden;
    background-color: #e5e5e5;
}

.location-services__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.location-services__box {
    padding-top: 14px;
    padding-bottom: 14px;
}

.location-services__box-inner {
    padding: 20px;
    height: 100%;
    background-color: #f5f5f5;
}

@media ( min-width: 1024px ) {

    .location-services__box {
        background-color: #f5f5f5;
    }

    .location-services__box:not(:first-child) {
        border-left: 4px solid #fff;
    }
}