
wp-config.php
wp-config-docker.php

/wp-content/plugins/hello.php

/wp-content/uploads/
/wp-content/updraft/
/wp-content/cache/
/wp-content/ai1wm-backups/

/wp-content/themes/twentytwentythree/
/wp-content/themes/twentytwentytwo/

/wp-content/plugins/updraftplus/

*.log

/.htaccess

.idea

.DS_Store