.jasmine_html-reporter {
    padding-left: 190px !important;
}

.cat-admin-bar  {
    color: #222;
    overflow: hidden;
    padding: 4px;
    margin-top: 6px;
    border: 1px solid #dfdfdf;
    background: #f5f5f5;
}


.cat-sortable-placeholder {
    border: 4px dashed #ddd;
    width: 156px;
    height: 186px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.cat-images {
    overflow: hidden;
    position: relative;
}

.cat-image {
    background: #fff;
    border: 1px solid #ddd;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 150px;
    padding: 4px;
    text-align: center;
}

    .cat-image img {
        display: inline-block;
        max-width: 100%;
        max-height: 150px;
    }

    .cat-image .button {
        display: block;
        width: 100%;
    }


/* -----------------------------------------------
 Progress
-------------------------------------------------- */

.progress {
    line-height: 2em;
    margin-top: 25px;
}

    .progress__bar {
        width: 100%;
        max-width: 435px;
        height: 5px;
        padding: 0;
        border-radius: 3px;
        -webkit-appearance: none;
    }

        .progress__bar::-webkit-progress-bar {
            border-radius: 3px;
            background: #fff;
        }

        .progress__bar::-webkit-progress-value {
            border-radius: 3px;
            background-color: #0074a2;
        }

    .progress__text {
        display: block;
    }

/* -----------------------------------------------
 Industries
-------------------------------------------------- */

.industries-families-wrap {
    overflow: hidden;
    padding-top: 6px;
}

    .families {
        float: left;
        width: 30%;
        border: 1px solid #dfdfdf;
        border-bottom: 0;
    }

    .term {
        display: block;
        padding: .45em 0;
    }

        .term.has-parent {
            padding-left: 24px;
        }


.selected-families-wrap {
    float: right;
    width: 69%;
}



    .application-field-wrap,
    .application-button-wrap { float: right; }

    .application-field-wrap {
        margin-right: 4px;
    }

        .application-field { width: 100%; }

    .application__title {
        padding: 8px 26px !important;
        margin-bottom: 10px !important;
        margin-top: 10px !important;
        border: 1px solid #444;
        border-right: 0;
        border-left: 0;
        background: #444;
        color: #fff;
        text-shadow: 0 1px 0 #222;
    }

        .application__title:first-child { margin-top: 0 !important; }

    .js-application-wrap {
        overflow: hidden;
        padding: 0 2%;
    }


.selected-families {
    overflow: hidden;
    min-height: 55px;
    border: 1px solid #dfdfdf;
}


.node {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 30%;
    margin: 1%;
    padding-right: 20px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    background: #f9f9f9;
}

    .node:hover {
        border-color: #ccc;
        background: #fdfdfd;
    }

    .node:nth-child(3n+1) {
        clear: left;
    }

    .node__remove {
        font-size: 10px;
        font-weight: 900;
        line-height: 14px;
        position: absolute;
        top: 50%;
        right: 10px;
        width: 20px;
        height: 20px;
        margin-top: -9px;
        cursor: pointer;
        color: #666;
        border: 1px solid #d5d5d5;
        border-radius: 50%;
        background: #fff;
    }

        .node__remove:hover,
        .node__remove:active {
            color: #fff;
            border-color: #d00;
            background: #f00;
        }




/* -----------------------------------------------
 Cat Images
-------------------------------------------------- */

.cat-images-meta .button {
    float: right;
}

.cat-images-meta small {
    float: left;
    line-height: 30px;
    margin-left: 10px;
}



/* -----------------------------------------------
 Specs
-------------------------------------------------- */

.field-list li {
    background: #fff;
    border-bottom: 1px solid #ddd;
    position: relative;
    transition: background 300ms;
    padding: 10px 0 12px;
    margin: 0;
    }
    .field-list li:hover { background: #ebf9ff; }
    .field-list li:last-child { border-bottom: 0; }

    .field-list label { padding-left: 10px; }

.field-row,
.add-new-field { overflow: hidden; }


.add-new-field {
    background: #f5f5f5;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 0 #fff;
    padding: 10px;
}

.button-primary.button-spec-add { margin: 0 0 0 10px; }

.button-spec-remove {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0;
    transition: opacity 300ms;
}
    .field-list li:hover .button-spec-remove  { opacity: 1; }
    .field-list li:active .button-spec-remove { opacity: 0; }



/* -----------------------------------------------
 Settings Page
-------------------------------------------------- */

/*
.import-list {
}

.import-list li {
    padding: 8px 15px;
}

.import-list > li {
    background: #ccc;
    border: 1px solid #ccc;
    padding-bottom: 0;
    margin-bottom: 0;
}

.import-list ul.level-2 {
    background: #fff;
    margin: 0 -15px;
}

.import-list ul.level-2:first-of-type {
    margin-top: 15px;
}

.import-list ul.level-2 > li {
    padding-left: 40px;
}

.import-list ul.level-2 > li:nth-child(odd) {
    background: whitesmoke;
}

.import-list ul.level-3 {
    margin-top: 5px;
}

.import-list ul.level-3 li {
    padding: 0 30px;
}
*/

/* -----------------------------------------------
 Taxonomy pages
-------------------------------------------------- */

.term-image {
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    background: #fff;
}

    .term-image img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 8px;
    }

    .term-image .button { width: 100%; }

.term-image-label {
    display: block;
    text-align: center;
}

.hidden { display: none; }

/* -----------------------------------------------
 Columns
-------------------------------------------------- */

.column-thumbnail {
    width: 50px;
}

[class*="col-"] { float: left; }

.col-1    { width:8.333%; }
.col-2    { width:16.666%; }
.col-3    { width: 25%; }
.col-4    { width:33.333% }
.col-5    { width:41.666% }
.col-6    { width:50%; }
.col-7    { width:58.333%; }
.col-8    { width:66.666%; }
.col-9    { width:75%; }
.col-10   { width:83.333%; }
.col-11   { width:91.666%; }
.col-12   { width:100%; }
